$winter_color: #0057ff;
$summer_color: #f19f00;
$spring_color: #00cc39;
$autumn_color: #d64200;

$maxWidth: 1600;

$maxWidthContainer: 1386;

$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;
