$main_color: #f2682a;
$background_color: #1e1e1e;
$white_color: #ffffff;

$minWidth: 375;

$maxWidth: 1680;

$maxWidthContainer: 1624;

$containerPadding: 44;

$containerWidth: $maxWidthContainer + $containerPadding;
