$main_color: #d64200;
$background_color: #f8f8f8;
$white_color: #ffffff;

$dark_gray: #232326;

$black_color: #000000;
$mark_color: #c8c4c5;

$minWidth: 375;

$maxWidth: 1600;

$maxWidthContainer: 1301;

$containerPadding: 46;

$containerWidth: $maxWidthContainer + $containerPadding;
