$main_color: #d64200;
$background_color: #f8f8f8;
$white_color: #ffffff;
$light_gray: #b8b6bf;
$gray_color: #77767e;
$arrow_color: #333333;
$dark_gray: #232326;
$pulse_color: #ffcbba;
$green_color: #009745;
$wrong_color: #eb5757;
$radio_color: #d64200;
$black_color: #000000;

$minWidth: 375;

$maxWidth: 1600;

$maxWidthContainer: 1333;

$containerPadding: 44;

$containerWidth: $maxWidthContainer + $containerPadding;
